[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/corazzon/finance-data-analysis/blob/main/3.3%20%EB%84%A4%EC%9D%B4%EB%B2%84%EA%B8%88%EC%9C%B5%20%EA%B0%9C%EB%B3%84%EC%A2%85%EB%AA%A9%20%EC%88%98%EC%A7%91-input.ipynb)


## 네이버 금융 개별종목 수집
* FinanceDataReader를 통해 수집했던 데이터를 네이버 증권 웹 페이지를 통해 직접 수집합니다.


### Keyword

* html 파일 읽어오기
    * pd.read_html(url, encoding="cp949")

* 결측 데이터 제거하기(axis 0:행, 1:열)
    * table[0].dropna()

* 데이터 프레임 합치기
    * pd.concat([df1, df2, df3])

* 중복데이터 제거
    * df.drop_duplicates()

* 과학적 기수법
    * 1.210000e+02 => 121

* 날짜 column의 첫 row값 확인
    * date = df.iloc[0]["날짜"]

* 파일로 저장하기 
    * df.to_csv(file_name, index=False)

* 파일 읽어오기
    * pd.read_csv(file_name)

## 수집할 페이지 보기

* 네이버 금융 국내증시 : https://finance.naver.com/sise/
* 2020년 주요 상장종목
    * 빅히트 : https://finance.naver.com/item/main.nhn?code=352820
    * 카카오게임즈 : https://finance.naver.com/item/main.nhn?code=293490
    * SK바이오팜 : https://finance.naver.com/item/main.nhn?code=326030

## 라이브러리 로드

In [1]:
import pandas as pd

## 수집할 URL 정하기

In [2]:
# 종목번호와 상장사 이름을 item_code와 item_name으로 설정
# item_code = "352820"
# item_name = "빅히트"

item_code = "326030"
item_name = "SK바이오팜"
page_no = 1

# 종목 URL 만들기
url = f"https://finance.naver.com/item/sise_day.nhn?code={item_code}&page={page_no}"
url

'https://finance.naver.com/item/sise_day.nhn?code=326030&page=1'

## requests를 통한 HTTP 요청
* [Requests: HTTP for Humans™ — Requests documentation](https://requests.readthedocs.io/en/master/)
* [Quickstart — Requests documentation # custom-headers](https://requests.readthedocs.io/en/latest/user/quickstart/#custom-headers)

In [3]:
import requests

headers = {'user-agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/88.0.4324.96 Safari/537.36'}

response = requests.get(url, headers=headers)
# response.text

## BeautifulSoup 을 통한 table 태그 찾기

* [Beautiful Soup Documentation — Beautiful Soup 4.9.0 documentation](https://www.crummy.com/software/BeautifulSoup/bs4/doc/)

In [4]:
from bs4 import BeautifulSoup as bs

html = bs(response.text, "lxml")
table = html.select("table")
len(table)

2

In [6]:
table

[<table cellspacing="0" class="type2">
 <tr>
 <th>날짜</th>
 <th>종가</th>
 <th>전일비</th>
 <th>시가</th>
 <th>고가</th>
 <th>저가</th>
 <th>거래량</th>
 </tr>
 <tr>
 <td colspan="7" height="8"></td>
 </tr>
 <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
 <td align="center"><span class="tah p10 gray03">2024.05.07</span></td>
 <td class="num"><span class="tah p11">88,800</span></td>
 <td class="num">
 <em class="bu_p bu_pup"><span class="blind">상승</span></em><span class="tah p11 red02">
 				2,200
 				</span>
 </td>
 <td class="num"><span class="tah p11">88,100</span></td>
 <td class="num"><span class="tah p11">89,900</span></td>
 <td class="num"><span class="tah p11">87,500</span></td>
 <td class="num"><span class="tah p11">109,034</span></td>
 </tr>
 <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
 <td align="center"><span class="tah p10 gray03">2024.05.03</span></td>
 <td class="num"><span class="tah p11">86,600</span></td>
 <td class="num">
 <em class="bu_p bu_pdn"><span class="blind">하락</span></em><span class="tah p11 nv01">
 				1,700
 				</span>
 </td>
 <td class="num"><span class="tah p11">88,700</span></td>
 <td class="num"><span class="tah p11">89,000</span></td>
 <td class="num"><span class="tah p11">86,600</span></td>
 <td class="num"><span class="tah p11">62,483</span></td>
 </tr>
 <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
 <td align="center"><span class="tah p10 gray03">2024.05.02</span></td>
 <td class="num"><span class="tah p11">88,300</span></td>
 <td class="num">
 <em class="bu_p bu_pup"><span class="blind">상승</span></em><span class="tah p11 red02">
 				700
 				</span>
 </td>
 <td class="num"><span class="tah p11">87,500</span></td>
 <td class="num"><span class="tah p11">89,200</span></td>
 <td class="num"><span class="tah p11">87,100</span></td>
 <td class="num"><span class="tah p11">72,720</span></td>
 </tr>
 <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
 <td align="center"><span class="tah p10 gray03">2024.04.30</span></td>
 <td class="num"><span class="tah p11">87,600</span></td>
 <td class="num">
 <em class="bu_p bu_pup"><span class="blind">상승</span></em><span class="tah p11 red02">
 				1,700
 				</span>
 </td>
 <td class="num"><span class="tah p11">85,200</span></td>
 <td class="num"><span class="tah p11">90,500</span></td>
 <td class="num"><span class="tah p11">85,200</span></td>
 <td class="num"><span class="tah p11">174,895</span></td>
 </tr>
 <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
 <td align="center"><span class="tah p10 gray03">2024.04.29</span></td>
 <td class="num"><span class="tah p11">85,900</span></td>
 <td class="num">
 <em class="bu_p bu_pup"><span class="blind">상승</span></em><span class="tah p11 red02">
 				2,400
 				</span>
 </td>
 <td class="num"><span class="tah p11">84,000</span></td>
 <td class="num"><span class="tah p11">86,000</span></td>
 <td class="num"><span class="tah p11">83,800</span></td>
 <td class="num"><span class="tah p11">91,765</span></td>
 </tr>
 <tr>
 <td colspan="7" height="8"></td>
 </tr>
 <tr>
 <td bgcolor="#e1e1e1" colspan="7" height="1"></td>
 </tr>
 <tr>
 <td colspan="7" height="8"></td>
 </tr>
 <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
 <td align="center"><span class="tah p10 gray03">2024.04.26</span></td>
 <td class="num"><span class="tah p11">83,500</span></td>
 <td class="num">
 <em class="bu_p bu_pup"><span class="blind">상승</span></em><span class="tah p11 red02">
 				200
 				</span>
 </td>
 <td class="num"><span class="tah p11">83,700</span></td>
 <td class="num"><span class="tah p11">83,800</span></td>
 <td class="num"><span class="tah p11">82,600</span></td>
 <td class="num"><span class="tah p11">37,526</span></td>
 </tr>
 <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
 <td align="center"><span class="tah p10 gray03">2024.04.25</span></td>
 <td class="num"><span class="tah p11">83,300</span></td>
 <td class="num">
 <em class="bu_p bu_pdn"><span class="blind">하락</span></em><span class="tah p11 nv01">
 				1,700
 				</span>
 </td>
 <td class="num"><span class="tah p11">84,100</span></td>
 <td class="num"><span class="tah p11">85,000</span></td>
 <td class="num"><span class="tah p11">83,000</span></td>
 <td class="num"><span class="tah p11">80,223</span></td>
 </tr>
 <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
 <td align="center"><span class="tah p10 gray03">2024.04.24</span></td>
 <td class="num"><span class="tah p11">85,000</span></td>
 <td class="num">
 <em class="bu_p bu_pup"><span class="blind">상승</span></em><span class="tah p11 red02">
 				1,000
 				</span>
 </td>
 <td class="num"><span class="tah p11">85,200</span></td>
 <td class="num"><span class="tah p11">85,300</span></td>
 <td class="num"><span class="tah p11">83,900</span></td>
 <td class="num"><span class="tah p11">58,324</span></td>
 </tr>
 <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
 <td align="center"><span class="tah p10 gray03">2024.04.23</span></td>
 <td class="num"><span class="tah p11">84,000</span></td>
 <td class="num">
 <em class="bu_p bu_pdn"><span class="blind">하락</span></em><span class="tah p11 nv01">
 				200
 				</span>
 </td>
 <td class="num"><span class="tah p11">84,200</span></td>
 <td class="num"><span class="tah p11">86,100</span></td>
 <td class="num"><span class="tah p11">83,700</span></td>
 <td class="num"><span class="tah p11">65,826</span></td>
 </tr>
 <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
 <td align="center"><span class="tah p10 gray03">2024.04.22</span></td>
 <td class="num"><span class="tah p11">84,200</span></td>
 <td class="num">
 <em class="bu_p bu_pup"><span class="blind">상승</span></em><span class="tah p11 red02">
 				1,500
 				</span>
 </td>
 <td class="num"><span class="tah p11">84,700</span></td>
 <td class="num"><span class="tah p11">85,400</span></td>
 <td class="num"><span class="tah p11">83,200</span></td>
 <td class="num"><span class="tah p11">70,684</span></td>
 </tr>
 <tr>
 <td colspan="7" height="8"></td>
 </tr>
 </table>,
 <table align="center" class="Nnavi" summary="페이지 네비게이션 리스트">
 <caption>페이지 네비게이션</caption>
 <tr>
 <td class="on">
 <a href="/item/sise_day.nhn?code=326030&amp;page=1">1</a>
 </td>
 <td>
 <a href="/item/sise_day.nhn?code=326030&amp;page=2">2</a>
 </td>
 <td>
 <a href="/item/sise_day.nhn?code=326030&amp;page=3">3</a>
 </td>
 <td>
 <a href="/item/sise_day.nhn?code=326030&amp;page=4">4</a>
 </td>
 <td>
 <a href="/item/sise_day.nhn?code=326030&amp;page=5">5</a>
 </td>
 <td>
 <a href="/item/sise_day.nhn?code=326030&amp;page=6">6</a>
 </td>
 <td>
 <a href="/item/sise_day.nhn?code=326030&amp;page=7">7</a>
 </td>
 <td>
 <a href="/item/sise_day.nhn?code=326030&amp;page=8">8</a>
 </td>
 <td>
 <a href="/item/sise_day.nhn?code=326030&amp;page=9">9</a>
 </td>
 <td>
 <a href="/item/sise_day.nhn?code=326030&amp;page=10">10</a>
 </td>
 <td class="pgR">
 <a href="/item/sise_day.nhn?code=326030&amp;page=11">
 				다음<img alt="" border="0" height="5" src="https://ssl.pstatic.net/static/n/cmn/bu_pgarR.gif" width="3"/>
 </a>
 </td>
 <td class="pgRR">
 <a href="/item/sise_day.nhn?code=326030&amp;page=95">맨뒤
 				<img alt="" border="0" height="5" src="https://ssl.pstatic.net/static/n/cmn/bu_pgarRR.gif" width="8"/>
 </a>
 </td>
 </tr>
 </table>]

In [5]:
type(table)

bs4.element.ResultSet

## pandas 코드 한 줄로 데이터 수집하기

In [7]:
# read_html을 이용하여 url의 page내의 값을 DataFrame으로 받아오기
table = pd.read_html(str(table))

In [9]:
# table[0]와 table[1]을 확인하여 보면 table[0]에 필요한 데이터들이 있음
table[0]

            날짜       종가        전일비       시가       고가       저가       거래량
0          NaN      NaN        NaN      NaN      NaN      NaN       NaN
1   2024.05.07  88800.0  상승  2,200  88100.0  89900.0  87500.0  109034.0
2   2024.05.03  86600.0  하락  1,700  88700.0  89000.0  86600.0   62483.0
3   2024.05.02  88300.0    상승  700  87500.0  89200.0  87100.0   72720.0
4   2024.04.30  87600.0  상승  1,700  85200.0  90500.0  85200.0  174895.0
5   2024.04.29  85900.0  상승  2,400  84000.0  86000.0  83800.0   91765.0
6          NaN      NaN        NaN      NaN      NaN      NaN       NaN
7          NaN      NaN        NaN      NaN      NaN      NaN       NaN
8          NaN      NaN        NaN      NaN      NaN      NaN       NaN
9   2024.04.26  83500.0    상승  200  83700.0  83800.0  82600.0   37526.0
10  2024.04.25  83300.0  하락  1,700  84100.0  85000.0  83000.0   80223.0
11  2024.04.24  85000.0  상승  1,000  85200.0  85300.0  83900.0   58324.0
12  2024.04.23  84000.0    하락  200  84200.0  86100.0  83700.0   65826.0
13  2024.04.22  84200.0  상승  1,500  84700.0  85400.0  83200.0   70684.0
14         NaN      NaN        NaN      NaN      NaN      NaN       NaN

In [10]:
# dropna를 통해 결측치가 들어있는 row를 제거
temp = table[0].dropna()
temp

            날짜       종가        전일비       시가       고가       저가       거래량
1   2024.05.07  88800.0  상승  2,200  88100.0  89900.0  87500.0  109034.0
2   2024.05.03  86600.0  하락  1,700  88700.0  89000.0  86600.0   62483.0
3   2024.05.02  88300.0    상승  700  87500.0  89200.0  87100.0   72720.0
4   2024.04.30  87600.0  상승  1,700  85200.0  90500.0  85200.0  174895.0
5   2024.04.29  85900.0  상승  2,400  84000.0  86000.0  83800.0   91765.0
9   2024.04.26  83500.0    상승  200  83700.0  83800.0  82600.0   37526.0
10  2024.04.25  83300.0  하락  1,700  84100.0  85000.0  83000.0   80223.0
11  2024.04.24  85000.0  상승  1,000  85200.0  85300.0  83900.0   58324.0
12  2024.04.23  84000.0    하락  200  84200.0  86100.0  83700.0   65826.0
13  2024.04.22  84200.0  상승  1,500  84700.0  85400.0  83200.0   70684.0

## 페이지별 데이터 수집 함수 만들기

In [11]:
# 종목 번호를 이용해 page에 따라 데이터를 읽어오기

def get_day_list(item_code, page_no):
    """
    일자별 시세를 페이지별로 수집
    """ 
    url = f"https://finance.naver.com/item/sise_day.nhn?code={item_code}&page={page_no}"
    
    headers = {'user-agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/88.0.4324.96 Safari/537.36'}

    response = requests.get(url, headers=headers)
    html = bs(response.text, "lxml")
    table = html.select("table")
    table = pd.read_html(str(table))
    temp = table[0].dropna()
    return temp

In [14]:
get_day_list(item_code, 1)

            날짜       종가        전일비       시가       고가       저가       거래량
1   2024.05.07  88800.0  상승  2,200  88100.0  89900.0  87500.0  109034.0
2   2024.05.03  86600.0  하락  1,700  88700.0  89000.0  86600.0   62483.0
3   2024.05.02  88300.0    상승  700  87500.0  89200.0  87100.0   72720.0
4   2024.04.30  87600.0  상승  1,700  85200.0  90500.0  85200.0  174895.0
5   2024.04.29  85900.0  상승  2,400  84000.0  86000.0  83800.0   91765.0
9   2024.04.26  83500.0    상승  200  83700.0  83800.0  82600.0   37526.0
10  2024.04.25  83300.0  하락  1,700  84100.0  85000.0  83000.0   80223.0
11  2024.04.24  85000.0  상승  1,000  85200.0  85300.0  83900.0   58324.0
12  2024.04.23  84000.0    하락  200  84200.0  86100.0  83700.0   65826.0
13  2024.04.22  84200.0  상승  1,500  84700.0  85400.0  83200.0   70684.0

## 반복문을 통한 전체 일자 데이터 수집하기
* (주의) 기간이 긴 데이터를 수집할때는 서버에 부담을 주지 않기 위해 time.sleep()값을 주세요.

In [15]:
import time
# web page 시작번호
page_no = 1
# 데이터를 저장할 빈 변수 선언
item_list = []

while True:
    print(page_no)
    temp = get_day_list(item_code, page_no)
    item_list.append(temp)
    
    page_no = page_no + 1
    time.sleep(0.1)
    
    #if temp.shape[0] < 10:
    if page_no > 10:
        break;

1
2
3
4
5
6
7
8
9
10

In [16]:
len(item_list)

10

## 수집한 데이터 하나의 데이터프레임으로 합치기

<img src="https://pandas.pydata.org/docs/_images/merging_concat_basic.png">

* [Merge, join, concatenate and compare documentation](https://pandas.pydata.org/docs/user_guide/merging.html#merge-join-concatenate-and-compare)

In [17]:
# DataFrame들이 list의 형태로 저장된 것을 concat을 이용하여 합치기
df = pd.concat(item_list)

<img src="https://pandas.pydata.org/docs/_images/08_concat_row.svg">

In [19]:
# head와 tail로 데이터의 일부 보기
df.head()

           날짜       종가        전일비       시가       고가       저가       거래량
1  2024.05.07  88800.0  상승  2,200  88100.0  89900.0  87500.0  109034.0
2  2024.05.03  86600.0  하락  1,700  88700.0  89000.0  86600.0   62483.0
3  2024.05.02  88300.0    상승  700  87500.0  89200.0  87100.0   72720.0
4  2024.04.30  87600.0  상승  1,700  85200.0  90500.0  85200.0  174895.0
5  2024.04.29  85900.0  상승  2,400  84000.0  86000.0  83800.0   91765.0

In [20]:
df.tail()

            날짜       종가        전일비       시가       고가       저가       거래량
9   2023.12.13  89700.0    하락  300  90500.0  90600.0  88700.0   51309.0
10  2023.12.12  90000.0    상승  800  89400.0  90700.0  88800.0   74014.0
11  2023.12.11  89200.0  하락  1,000  90500.0  91400.0  88200.0   90911.0
12  2023.12.08  90200.0    상승  100  90300.0  90700.0  88900.0   77048.0
13  2023.12.07  90100.0    상승  500  89800.0  94000.0  89600.0  195190.0

## 데이터프레임에 종목코드와 종목명을 추가하기
* 파생변수 만들기

In [21]:
# '종목코드'와 '종목명' column을 추가하면서 각각 item_code와 item_name 값을 입력
df["종목코드"] = item_code
df["종목명"] = item_name
df

,날짜,종가,전일비,시가,고가,저가,거래량,종목코드,종목명
1,2024.05.07,88800.0,"상승 2,200",88100.0,89900.0,87500.0,109034.0,326030,SK바이오팜
2,2024.05.03,86600.0,"하락 1,700",88700.0,89000.0,86600.0,62483.0,326030,SK바이오팜
3,2024.05.02,88300.0,상승 700,87500.0,89200.0,87100.0,72720.0,326030,SK바이오팜
4,2024.04.30,87600.0,"상승 1,700",85200.0,90500.0,85200.0,174895.0,326030,SK바이오팜
5,2024.04.29,85900.0,"상승 2,400",84000.0,86000.0,83800.0,91765.0,326030,SK바이오팜
...,...,...,...,...,...,...,...,...,...
9,2023.12.13,89700.0,하락 300,90500.0,90600.0,88700.0,51309.0,326030,SK바이오팜
10,2023.12.12,90000.0,상승 800,89400.0,90700.0,88800.0,74014.0,326030,SK바이오팜
11,2023.12.11,89200.0,"하락 1,000",90500.0,91400.0,88200.0,90911.0,326030,SK바이오팜
12,2023.12.08,90200.0,상승 100,90300.0,90700.0,88900.0,77048.0,326030,SK바이오팜
13,2023.12.07,90100.0,상승 500,89800.0,94000.0,89600.0,195190.0,326030,SK바이오팜

In [23]:
# DataFrame에서 column 들의 이름을 순서를 조정하여 column순서를 변경
df.columns

Index(['날짜', '종가', '전일비', '시가', '고가', '저가', '거래량', '종목코드', '종목명'], dtype='object')

## 컬럼 순서 변경하기

In [25]:
# DataFrame에서 column 들의 이름을 순서를 조정하여 column순서를 변경할 수 있습니다.

cols = ['종목코드', '종목명', '날짜', '종가', '전일비', '시가', '고가', '저가', '거래량']
df = df[cols]
df

,종목코드,종목명,날짜,종가,전일비,시가,고가,저가,거래량
1,326030,SK바이오팜,2024.05.07,88800.0,"상승 2,200",88100.0,89900.0,87500.0,109034.0
2,326030,SK바이오팜,2024.05.03,86600.0,"하락 1,700",88700.0,89000.0,86600.0,62483.0
3,326030,SK바이오팜,2024.05.02,88300.0,상승 700,87500.0,89200.0,87100.0,72720.0
4,326030,SK바이오팜,2024.04.30,87600.0,"상승 1,700",85200.0,90500.0,85200.0,174895.0
5,326030,SK바이오팜,2024.04.29,85900.0,"상승 2,400",84000.0,86000.0,83800.0,91765.0
...,...,...,...,...,...,...,...,...,...
9,326030,SK바이오팜,2023.12.13,89700.0,하락 300,90500.0,90600.0,88700.0,51309.0
10,326030,SK바이오팜,2023.12.12,90000.0,상승 800,89400.0,90700.0,88800.0,74014.0
11,326030,SK바이오팜,2023.12.11,89200.0,"하락 1,000",90500.0,91400.0,88200.0,90911.0
12,326030,SK바이오팜,2023.12.08,90200.0,상승 100,90300.0,90700.0,88900.0,77048.0
13,326030,SK바이오팜,2023.12.07,90100.0,상승 500,89800.0,94000.0,89600.0,195190.0

## 중복데이터 제거하기
* drop_duplicates 를 통해 중복된 데이터가 있다면 제거합니다.

In [26]:
# drop_duplicates : row들 끼리 data를 비교하여 같은 값이 있으면 row중 하나를 삭제
# df.shape를 전/후로 출력하여 삭제된 row가 있는지 확인
df = df.drop_duplicates()
df.shape

(100, 9)

## 기술통계값 구하기

In [27]:
# describe는 기본적으로 수치데이터에 대한 기술통계값을 구하기
df.describe()

,종가,시가,고가,저가,거래량
count,100.000000,100.000000,100.000000,100.000000,100.000000
mean,91012.000000,91102.000000,92481.000000,89688.000000,138937.450000
std,4464.365757,4412.195679,4505.679805,4159.430808,98533.271681
min,80700.000000,81500.000000,82500.000000,80700.000000,37526.000000
25%,88375.000000,88675.000000,89675.000000,87000.000000,84076.750000
50%,91050.000000,91000.000000,92550.000000,89700.000000,114083.500000
75%,93925.000000,93925.000000,95525.000000,92400.000000,163489.500000
max,103900.000000,103300.000000,104800.000000,100200.000000,827795.000000

* 참고 : E notation
[과학적 기수법 - 위키백과, 우리 모두의 백과사전](https://ko.wikipedia.org/wiki/%EA%B3%BC%ED%95%99%EC%A0%81_%EA%B8%B0%EC%88%98%EB%B2%95)

과학적 기수법, 과학적 표기법(scientific notation, scientific form, standard index form, standard form)은 너무 크거나 너무 작은 숫자들을 십진법으로 편하게 작성하여 표현하는 방법이다. 과학자, 수학자, 공학자들이 공통적으로 사용하는데, 부분적인 이유는 특정한 산술을 단순화시켜 주기 때문이다. 과학 계산기에서는 "SCI" 디스플레이 모드라는 이름으로 알려져 있다.

In [28]:
# 거래량의 과학적 기수법 읽기
1.000000e+02

100.0

In [29]:
4.701523e+05

470152.3

## 최근 날짜 구해서 파일명 만들기

In [30]:
# 날짜 column의 첫 row값 확인
date = df.iloc[0]["날짜"]
date

'2024.05.07'

In [31]:
# 종목명, 종목코드, 날짜를 이름으로 하는 csv 파일명 만들기
file_name = f"{item_name}_{item_code}_{date}.csv"
file_name

'SK바이오팜_326030_2024.05.07.csv'

## 파일로 저장하기

In [32]:
# 파일로 저장하기 
# index=False 로 데이터프레임의 기본 index 는 저장하지 않도록 할 것
df.to_csv(file_name, index=False)

In [33]:
# 제대로 저장되었는지 파일을 읽어서 확인
pd.read_csv(file_name)

,종목코드,종목명,날짜,종가,전일비,시가,고가,저가,거래량
0,326030,SK바이오팜,2024.05.07,88800.0,"상승 2,200",88100.0,89900.0,87500.0,109034.0
1,326030,SK바이오팜,2024.05.03,86600.0,"하락 1,700",88700.0,89000.0,86600.0,62483.0
2,326030,SK바이오팜,2024.05.02,88300.0,상승 700,87500.0,89200.0,87100.0,72720.0
3,326030,SK바이오팜,2024.04.30,87600.0,"상승 1,700",85200.0,90500.0,85200.0,174895.0
4,326030,SK바이오팜,2024.04.29,85900.0,"상승 2,400",84000.0,86000.0,83800.0,91765.0
...,...,...,...,...,...,...,...,...,...
95,326030,SK바이오팜,2023.12.13,89700.0,하락 300,90500.0,90600.0,88700.0,51309.0
96,326030,SK바이오팜,2023.12.12,90000.0,상승 800,89400.0,90700.0,88800.0,74014.0
97,326030,SK바이오팜,2023.12.11,89200.0,"하락 1,000",90500.0,91400.0,88200.0,90911.0
98,326030,SK바이오팜,2023.12.08,90200.0,상승 100,90300.0,90700.0,88900.0,77048.0
99,326030,SK바이오팜,2023.12.07,90100.0,상승 500,89800.0,94000.0,89600.0,195190.0

## 전체 과정을 하나의 함수로 만들기

In [34]:
def get_item_list(item_code, item_name):
    """
    일별 시세를 수집하는 함수
    """
    # web page 시작번호
    page_no = 1
    # 데이터를 저장할 빈 변수 선언
    item_list = []

    while True:
        temp = get_day_list(item_code, page_no)
        item_list.append(temp)

        page_no = page_no + 1
        time.sleep(0.1)

        #if temp.shape[0] < 10:
        if page_no > 10:
            break
            
    df = pd.concat(item_list)
    df["종목코드"] = item_code
    df["종목명"] = item_name
    cols = ['종목코드', '종목명', '날짜', '종가', '전일비', '시가', '고가', '저가', '거래량']
    df = df[cols]

    return df

In [35]:
item_code = "352820"
item_name = "하이브"
# 빅히트의 사명이 하이브로 변경되었습니다.

# item_code = "326030"
# item_name = "SK바이오팜"

get_item_list(item_code, item_name)

,종목코드,종목명,날짜,종가,전일비,시가,고가,저가,거래량
1,352820,하이브,2024.05.07,204500.0,"상승 1,000",204000.0,204500.0,201000.0,268240.0
2,352820,하이브,2024.05.03,203500.0,"상승 3,500",201500.0,205500.0,200000.0,360938.0
3,352820,하이브,2024.05.02,200000.0,"하락 2,000",202500.0,205500.0,200000.0,385603.0
4,352820,하이브,2024.04.30,202000.0,"하락 3,000",203500.0,205000.0,202000.0,280426.0
5,352820,하이브,2024.04.29,205000.0,"상승 3,500",201500.0,206500.0,201000.0,502131.0
...,...,...,...,...,...,...,...,...,...
9,352820,하이브,2023.12.13,233500.0,하락 500,233500.0,236000.0,227000.0,185773.0
10,352820,하이브,2023.12.12,234000.0,"하락 4,000",236000.0,238000.0,229500.0,189470.0
11,352820,하이브,2023.12.11,238000.0,상승 500,237500.0,240000.0,235000.0,164080.0
12,352820,하이브,2023.12.08,237500.0,"상승 9,000",227000.0,239500.0,225000.0,318590.0
13,352820,하이브,2023.12.07,228500.0,보합0,226000.0,230500.0,221500.0,211541.0

## 내가 만든 함수의 기능과 소스코드가 궁금하다면?

In [36]:
# 도움말 보기
get_item_list?

Signature: get_item_list(item_code, item_name)
Docstring: 일별 시세를 수집하는 함수
File:      c:\users\user\appdata\local\temp\ipykernel_14100\721505958.py
Type:      function

In [37]:
# 소스코드 보기
get_item_list??

Signature: get_item_list(item_code, item_name)
Source:
def get_item_list(item_code, item_name):
    """
    일별 시세를 수집하는 함수
    """
    # web page 시작번호
    page_no = 1
    # 데이터를 저장할 빈 변수 선언
    item_list = []

    while True:
        temp = get_day_list(item_code, page_no)
        item_list.append(temp)

        page_no = page_no + 1
        time.sleep(0.1)

        #if temp.shape[0] < 10:
        if page_no > 10:
            break

    df = pd.concat(item_list)
    df["종목코드"] = item_code
    df["종목명"] = item_name
    cols = ['종목코드', '종목명', '날짜', '종가', '전일비', '시가', '고가', '저가', '거래량']
    df = df[cols]

    return df
File:      c:\users\user\appdata\local\temp\ipykernel_14100\721505958.py
Type:      function